
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<a href="\Home\Index">Home</a> |
<a href="\Home\AboutUs">About Us</a> |
<a href="\Home\ContactUs">Contact Us</a> |
<a href="\Accounts\Login">Login</a> |
<a href="\Accounts\Register">Register</a>

<h3><i>Hello...We Are The Night Coders Club</i></h3>
<input type="button" placeholder="Enter Here" value="Select Topper" name="Details" />
<select>
    <option>Sankya</option>
    <option>Prabhu</option>
    <option>Patya</option>
    <option>Onkya</option>
    <option>Ankya</option>
</select>