
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>
<a href="\Home\Index">Home</a> |
<a href="\Home\AboutUs">About Us</a> |
<a href="\Home\ContactUs">Contact Us</a> |
<a href="\Accounts\Login">Login</a> |
<a href="\Accounts\Register">Register</a>

<h3>Contact Us On 8275819158... Thank You...!!!</h3>