
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<a href="\Home\Index">Home</a> |
<a href="\Home\AboutUs">About Us</a> |
<a href="\Home\ContactUs">Contact Us</a> |
<a href="\Accounts\Login">Login</a> |
<h3>Welcome to Password changing Facility</h3>
<table>
    <tr>
        <td>Email</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Enter OTP send on Email</td>
        <td><input type="password" /></td>
    </tr>
    <tr>
        <td>Enter New Password</td>
        <td><input type="password" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="button" value="Change Password" /></td>
    </tr>
</table>