
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<a href="\Home\Index">Home</a> |
<a href="\Home\AboutUs">About Us</a> |
<a href="\Home\ContactUs">Contact Us</a> |
<a href="\Accounts\Login">Login</a> |
<a href="\Accounts\Register">Register</a>
<form>
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Login" /></td>
        </tr>
    </table>
</form>
<a href="\Accounts\Register">Register New User</a>
