
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<a href="\Home\Index">Home</a> |
<a href="\Home\AboutUs">About Us</a> |
<a href="\Home\ContactUs">Contact Us</a> |
<a href="\Accounts\Login">Login</a> |
<a href="\Accounts\Register">Register</a>
<form>
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Contact Number</td>
            <td><input type="number" /></td>
        </tr>
        <tr>
            <td>Email Addresz</td>
            <td><input type="email" /></td>
        </tr>
        <tr>
            <td>Set Password</td>
            <td><input type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Register" /></td>
        </tr>
    </table>
</form>
