
@{
    ViewBag.Title = "Aboutus";
}

<h2>Aboutus</h2>

<hr />

<p> Company:@ViewBag.companyName</p>
<p> Founder:@ViewBag.founder</p>
<p> CoFounder:@ViewBag.coFounder</p>
<p> Vision:@ViewBag.vision </p>