
@{
    ViewBag.Title = "Career";
}

<h2>Career</h2>
<hr/>
@{ 
    List<string> ourServices = this.ViewData["ourServices"] as List<string>;
    <ul>
        @foreach(string service in ourServices)
        {
            <li>@service</li>
        }
    </ul>
}


