
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron text-center">
    <h1>Amazon Online Shopping</h1>
    <p>Your final destination for Shopping</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3><a href="/products/index">Flowers</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Orders</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Deliveries</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>
